.row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.puppy-picture{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.puppy-info{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    width: 200px;
}

.name{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.type{
    font-size: 12px;
    color: #606060;
    margin-top: 0px;
}

.follow-button{
    background-color: rgb(42, 152, 189);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
