.img1{
    width: 200px;
    border: none;
    border-radius: 12px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.img2{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
    margin-right: 20px;
}

.img3{
    width: 200px;
    height: 200px;
    border-radius: 30000px;
    object-fit: cover;
    object-position: center;
}