*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    font-size: medium;
    font-weight: 400;
}

.js-subscribe-button{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;

}